force-app/main/default/flows/Create_New_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Sessions_time_is_overl</name>
        <label>Sessions time is overlap</label>
        <locationX>760</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>Overlap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_is_overlap</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>existedSession.Session_Start__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>End_Session</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existedSession.Session_End__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Sart_Session</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Sessions</targetReference>
            </connector>
            <label>Time is not overlap</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>conferenceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Conference__c</object>
        <outputAssignments>
            <assignToReference>newSession.Conference__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>topicTechnologiesSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topic_Technologies__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create New Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Session</label>
    <loops>
        <name>Loop_All_Sessions</name>
        <label>Loop All Sessions</label>
        <locationX>498</locationX>
        <locationY>80</locationY>
        <assignNextValueToReference>existedSession</assignNextValueToReference>
        <collectionReference>existedSessionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sessions_time_is_overl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_new_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Session</name>
        <label>Create new Session</label>
        <locationX>496</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>Sucessful</targetReference>
        </connector>
        <inputAssignments>
            <field>Conference__c</field>
            <value>
                <elementReference>newSession.Conference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_End__c</field>
            <value>
                <elementReference>End_Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Session_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Thesis__c</field>
            <value>
                <elementReference>Session_Thesis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Start__c</field>
            <value>
                <elementReference>Sart_Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic_Technologies__c</field>
            <value>
                <elementReference>Topic_Technologies</elementReference>
            </value>
        </inputAssignments>
        <object>Session__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Sessions</name>
        <label>Get Sessions</label>
        <locationX>292</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Sessions</targetReference>
        </connector>
        <filters>
            <field>Conference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSession.Conference__c</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>existedSessionList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Conference__c</queriedFields>
        <queriedFields>Topic_Technologies__c</queriedFields>
        <queriedFields>Session_Start__c</queriedFields>
        <queriedFields>Session_End__c</queriedFields>
    </recordLookups>
    <screens>
        <name>New_Session</name>
        <label>New Session</label>
        <locationX>155</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Sessions</targetReference>
        </connector>
        <fields>
            <name>Session_Name</name>
            <dataType>String</dataType>
            <fieldText>Session Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Conference</name>
            <choiceReferences>conferenceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Conference</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sart_Session</name>
            <dataType>DateTime</dataType>
            <fieldText>Sart Session</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Start of session must be before the end.</errorMessage>
                <formulaExpression>{!Sart_Session} &lt; {!End_Session}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Session</name>
            <dataType>DateTime</dataType>
            <fieldText>End Session</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topic_Technologies</name>
            <choiceReferences>topicTechnologiesSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topic Technologies</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Session_Thesis</name>
            <fieldText>Session Thesis</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Overlap</name>
        <label>Overlap</label>
        <locationX>995</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>output_message</name>
            <fieldText>We can not create this sesssion, because at this time take place: {!existedSession.Name}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Sucessful</name>
        <label>Successful Session Creation</label>
        <locationX>495</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>session_created</name>
            <fieldText>Session {!Session_Name} is created successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>New_Session</startElementReference>
    <variables>
        <name>existedSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>existedSessionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>newSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
